PORT=3003


## STRIPE_SECRET_KEY https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY=
URL_SUCCESS=http://localhost:3003
URL_CANCELLED=http://localhost:3003

## STRIPE_WEBHOOK_SECRET https://dashboard.stripe.com/test/developers/webhooks
END_POINT_SECRET=
NATS_SERVER="nats://localhost:4222"